#{extends 'main.html' /}
#{set 'title'}&{'assessments.Concerns'}#{/set}
#{set hideHeader:'true' /}
#{set hideFooter:'true' /}

#{set 'moreStyles'}
#{/set}

<section class="ui centered padded stackable grid">

  <div class="sixteen wide column">
      <h2 class="ui header">
        <div class="content">
          &{'assessments.Concerns'} بر حسب دسته‌بندی
          <div class="sub header">نگرانی‌های امنیتی بر حسب دسته‌بندی آن‌ها به شرح زیر است.</div>
        </div>
      </h2>

  </div> <!-- /.column -->

  <div class="sixteen wide column">
    <table class="ui celled padded green table">
      <thead>
        <tr>
          <th class="one wide center aligned">رتبه</th>
          <th class="eleven wide">دسته</th>
          <th class="one wide center aligned">تعداد پرسش‌ها</th>
          <th class="one wide center aligned">نسبت</th>
        </tr>
      </thead>

      #{list metrics}
      <tr>
        <td class="center aligned">${_index}</td>
        <td><strong>${_.title}</strong><br /> <div class="muted">${_.description.raw()}</div></td>
        <td class="center aligned">${metricCounts.get(_index-1)}</td>
        <td class="center aligned">${metricWeights.get(_index-1).format('0.00')}</td>
      </tr>
      #{/list}
    </table>
  </div>

  
  <div class="sixteen wide column">
      <h2 class="ui header">
        <div class="content">
          &{'assessments.Concerns'} بر حسب مورد
          <div class="sub header">با توجه به پاسخ‌های شما، نگرانی‌ها و مسائل مورد توجه در سازمان شما به ترتیب اهمیت به شرح زیر است.</div>
        </div>
      </h2>

  </div> <!-- /.column -->

  <div class="twelve wide column">
    <table class="ui celled padded blue table">
      <thead>
        <tr>
          <th class="one wide center aligned">رتبه</th>
          <th class="three wide">معیار</th>
          <th class="eleven wide">پرسش مرتبط</th>
          <th class="one wide center aligned">درجه‌ی تاثیر (درصد)</th>
        </tr>
      </thead>
      #{list questions}
      <tr>
        <td class="center aligned">${_index}</td>
        <td class=""><strong>${_.parent.parent.title}</strong><br/> ${_.parent.title}</td>
        <td>${_.description.raw()}</td>
        <td class="center aligned">${weights.get(_index-1).format('0.00')}</td>
      </tr>
      #{/list}
    </table>
  </div>
	<div class="four wide column">
	  <div class="ui small side-help list">
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">جدول نگرانی‌ها بر حسب پرسش</div>
	        <div class="description">توضیحات کلی مربوط به جدول مشکلات در اینجا می‌آید.</div>
	      </div>
	    </div>
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">پرسش مربوطه</div>
	        <div class="description">پرسشی که منجر به استتناج وجود این مشکل در سازمان گردید.</div>
	      </div>
	    </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">رتبه</div>
          <div class="description">درجه‌ی اهمیت یک مشکل تاثیر این مشکل در امتیازدهی را مشخص می‌سازد. هر چه یک مسله تاثیر بیشتری داشته باشد، امتیاز بیشتری را کسر می‌نماید.</div>
        </div>
      </div>
	  </div>
	</div>
	
	<div class="ui divider"></div>
	<div class="sixteen wide left alignd column">
    <a class="ui disabled primary button">چاپ گزارش</a>
    <a class="ui disabled primary button">ذخیره به فرمت پی‌دی‌اف</a>
	</div>
</section>

#{set 'moreScripts'}
<script>

</script>
#{/set}
