#{extends 'main.html' /}
#{set title:assessment.title /}
#{set hideHeader:'true' /}
#{set hideFooter:'true' /}

#{set 'moreStyles'}
#{get 'moreStyles' /}
#{/set}

<section class="ui padded page stackable grid">
<div class="ui fourteen wide centered column">
  #{assessmentSteps assessorId:assessor.id, assessmentCode:assessment.code/}
  <div class="ui clearing segment">
    <div class="ui ribbon label">
      <div class="ui floating link tiny scrolling dropdown button">
        <div class="text">&{'page'} ${page+1} &{'of'} ${pages}</div>
        <div class="menu">
          #{list metrics}
	        <a href="@{Assessments.jumpToQuestionsPage(assessment.code, assessor.id, level, _index)}" class="item">${_.title}</a>
	        #{/list}
        </div>
      </div>
    </div>
    <form class="ui form" action="@{Assessments.questions}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="code" value="${assessment.code}" />
      <input type="hidden" name="assessor.id" value="${assessor.id}" />
      <input type="hidden" name="metric.code" value="${metric.code}" />
      <input type="hidden" name="level" value="${level}" />
      <h1 class="ui dividing header">${metric.title} </h1>
      
      #{set qIndex:0 /}
      #{list items:subMetrics,as:'subMetric'}
      <div class="ui header">
        ${subMetric.title}
        <div class="sub header">
          #{if subMetric.description && subMetric.description.length()>0}<strong>&{'assessments.SubMetricDescription'}</strong>#{/if}
          ${subMetric.description.raw()}
        </div>
        <div class="inline fields content">
	        <div class="field">
	          <div class="ui radio checkbox">
	            <input type="radio" name="response_${_.id}" value="yes" />
	            <label>&{'yes'}</label>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui radio checkbox">
	            <input type="radio" name="response_${_.id}" value="no" />
	            <label>&{'no'}</label>
	          </div>
	        </div>
        </div>
      </div>
      #{list controllers.Elements.getQuestions(subMetric, level)}
      #{set qIndex:qIndex+1 /}
      <p><strong>#{get 'qIndex' /}-</strong> ${_.description.raw()}</p>
      <div class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="response_${_.id}" value="yes" />
            <label>&{'yes'}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="response_${_.id}" value="no" />
            <label>&{'no'}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="response_${_.id}" value="alt" />
            <label>&{'none'}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="response_${_.id}" value="none" />
            <input type="hidden" name="response_${_.id}" value="" />
            <label>&{'alt'}</label>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      #{/list}
      #{/list}
            
      <div class="ui divider"></div>
      
      <div class="field">
        <a href="@{Assessments.finish(assessment.code)}" class="ui right aligned red button">خروج</a>
        <button type="submit" class="ui right floated right labeled icon primary button">
          <i class="right arrow icon"></i>
          #{if page+1 != pages}
          &{'next'}
          #{/if}
          #{else}
          &{'showResults'}
          #{/else}
        </button>
      </div>
    </form>
  </div>
</div>
</section>

#{set 'moreScripts'}
#{get 'moreScripts' /}

<script type="text/javascript">
$('.link.dropdown').dropdown({
  action: 'hide'
});
</script>
#{/set}
