#{extends 'main.html' /}
#{set title:assessment.title /}
#{set hideHeader:'true' /}
#{set hideFooter:'true' /}

#{set 'moreStyles'}
#{get 'moreStyles' /}
#{/set}

<section class="ui padded page stackable grid">
<div class="ui fourteen wide centered column">
  #{assessmentSteps /}
  <div class="ui clearing segment">
    <div class="ui ribbon label">&{'page'} ${page+1} &{'of'} ${pages}</div>
    <form class="ui form" action="@{Assessments.questions}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="code" value="${assessment.code}" />
      <input type="hidden" name="metric.code" value="{metric.code}" />
      <h1 class="ui dividing header">${metric.title} </h1>
      
      #{list subMetrics}
      <div class="ui header">${_.title}</div>
      #{list controllers.Elements.getQuestions(_)}
      <p>${_.description.raw()}</p>
      <div class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answers[${_index}]" value="yes" />
            <label>بلی</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answers[${_index}]" value="no" />
            <label>خیر</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answers[${_index}]" value="alt" />
            <label>شامل نمی‌شود</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answers[${_index}]" value="none" />
            <label>موارد دیگر</label>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      #{/list}
      #{/list}
            
      <div class="ui hidden divider"></div>
      
      <div class="field">
        <button type="submit" class="ui right floated right labeled icon primary button">
          <i class="right arrow icon"></i>
          #{if page+1 != pages}
          &{'next'}
          #{/if}
          #{else}
          &{'showResults'}
          #{/else}
        </button>
      </div>
    </form>
  </div>
</div>
</section>

#{set 'moreScripts'}
#{get 'moreScripts' /}
#{/set}
