#{extends 'main.html' /}
#{set 'title'} &{'assessments.Standards'} #{/set}
#{set hideHeader:'true' /}
#{set hideFooter:'true' /}

#{set 'moreStyles'}
#{/set}

<section class="ui padded page stackable grid">
<div class="ui fourteen wide centered column">
  #{assessmentSteps /}
  <div class="ui clearing bottom attached segment" style="border-top: 1px solid #d4d4d5;">
    <div class="ui hidden divider"></div>         

    <form class="ui form" action="@{Assessments.questions}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="assessor.id" value="${assessor.id}" />
      
      <h3 class="ui dividing grey header">استانداردها</h3>
      <div class="muted text">
      در حال حاضر ارزیابی براساس استانداردهای زیر موجود است.
      لطفا یکی از آن‌ها را برای ارزیابی انتخاب کنید. هر استاندارد معیارها و پرسش‌نامه‌های متفاوتی دارد.
      برای اطلاع بیشتر از اهداف و جزییات هر استاندارد به <a href="/support">بخش پشتیبانی</a> مراجعه نمایید.
      </div>
      <div class="ui hidden divider"></div>
      <div class="grouped fields">      
        #{list assessments}
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="code" value="${_.code}" tabindex="0" class="hidden">
            <label>${_.title}</label>
          </div>
        </div>
        #{/list}
      </div>
      
      <div class="field" style="display:none;" id="level-field">
        <label>&{'standards.levels'}</label>
        <select name="level" class="ui selection dropdown">
          #{list models.elements.QuestionElement.SeverityLevel.values()}
          <option value="${_}" class="#{if level==LOW}selected="selected"#{/if}>&{'standards.levels.'+_}</option>
          #{/list}
        </select>
      </div>
      
      <div class="ui divider"></div>
      <div class="field">
        <a href="@{Application.index()}" class="ui right aligned red button">خروج</a>
        <button type="submit" class="ui right floated right labeled icon primary button">
          <i class="right arrow icon"></i>
          &{'next'}
        </button>
      </div>
    </form>
  </div>
</div>
</section>

#{set 'moreScripts'}
<script>
$('.help.icon').popup();
$('.ui.dropdown').dropdown();
$('.ui.radio.checkbox').checkbox();
$('input[name="code"]').on('change', function() {
  $('#level-field').hide(100);
  $('#level-field').show(100);
});
</script>
#{/set}
