#{extends 'main.html' /}
#{set 'title'}&{'CVSSCalculator'}#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/angular.min.js'}" type="text/javascript" charset="utf-8"></script>
 
<script type="text/javascript">

</script>

<script src="@{'public/js/chart.js'}"></script>

<script>
$('.ui.dropdown').dropdown();

$('.ui.checkbox').checkbox();
var radarConfig = {
    type: 'radar',
    data: {
        labels: ["منابع انسانی", "سخت‌افزار", "نرم‌افزار", "شبکه", "یک‌پارچگی"],
        datasets: [{
            label: "Dataset #1",
            backgroundColor: "rgba(220,220,220,0.2)",
            pointBackgroundColor: "rgba(220,220,220,1)",
            data: [10, 9.8, 4.2, 5.3, 8.2]
        }, {
            label: "Dataset #2",
            backgroundColor: "rgba(251,80,50,0.5)",
            pointBackgroundColor: "rgba(251,80,50,1)",
            hoverPointBackgroundColor: "#fff",
            pointHighlightStroke: "rgba(251,80,50,1)",
            data: [9, 8.1, 4.1, 7.2, 9]
        }]
    }
};
var radarChart = new Chart($("#radarChart").get(0).getContext("2d"), radarConfig);
</script>

<script>
var app = angular.module('CalculatorApp', []);
app.controller('CalculatorController', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});

var vector = {
    AV: "X",
    AC: "X",
    PR: "X",
    UI: "X",
    S: "X",
    C: "X",
    I: "X",
    A: "X"
};

$('.ui.buttons .button').click(function() {
  $(this)
    .addClass('active')
    .siblings().removeClass('active');
  var metric = $(this).parent().data('metric');
  var value = $(this).data('value');
  vector[metric] = value;
  var result = "";
  $.each(vector, function(i, v) {
    result += i + ":" + v + ";";
  });
  
  vSize = 0;
  for (key in vector) {
    vSize++;
  }
  $.post("@{CVSS.calculateCVSSFromMetrics()}",{
    AV: vector["AV"],
    AC: vector["AC"],
    PR: vector["PR"],
    UI: vector["UI"],
    S: vector["S"],
    C: vector["C"],
    I: vector["I"],
    A: vector["A"]
  }).done(function(data) {
    if (data==Number(data))
      $(".baseScore").text(data);
  });    

  $('#vectorString').html("<strong>بردار = </strong>{" + result + "}");
});

</script>

#{/set}

#{set 'moreStyles'}
#{/set}

<div class="menu spacer"></div>

<div class="ui padded page stackable grid" ng-app="CalculatorApp" ng-controller="CalculatorController">
  <div class="twelve wide centered column">
    <h2 class="ui header">
      <i class="calculator icon"></i>
      <div class="content">
        &{'CVSSCalculator'}
      </div>
    </h2>
    <div class="ui basic message">
      در این بخش می‌توانید با وارد نمودن پارامترهای سیستم‌های صنعتی خود، درجه‌ی آسیب‌پذیری خود را محاسبه نمایید.
      <br />
      برای محاسبه‌ی امتیاز باید به تمام سوالات بخش پایه پاسخ داد. سوالات مربوط به امتیاز موفت و محیطی اختیاری هستند.
    </div> 
    <div class="ui form segment" id="baseSegment">
      <h2 class="ui dividing header">امتیاز پایه
      <a class="ui green horizontal label baseScore">نامشخص</a>      
      </h2>

      <div class="ui field">
        <label>مسیر حمله</label>
        <label>
          <span class="muted">حمله‌کننده برای استفاده از آسیب‌پذیری چه اندازه می‌تواند از سیستم هدف دور باشد؟</span>
        </label>
        <div class="ui basic blue buttons" data-metric="AV">
				  <a class="ui button" data-value="N">شبکه</a>
				  <a class="ui button" data-value="A">فرعی</a>
				  <a class="ui button" data-value="L">محلی</a>
          <a class="ui button" data-value="P">فیزیکی</a>
				</div>
      </div>

      <div class="ui field">
        <label>پیچیدگی حمله</label>
        <label>
          <span class="muted">آیا دسترسی خاص یا پیش‌آمدی تقلیل‌یافته خارج از کنترل حمله‌کننده برای آسیب‌پذیر نمودن سیستم هدف لازم است؟</span>
        </label>
        <div class="ui basic blue buttons" data-metric="AC">
          <a class="ui button" data-value="L">کم</a>
          <a class="ui button" data-value="H">زیاد</a>
        </div>
      </div>
      
      <div class="ui field">
        <label>دسترسی</label>
        <div class="ui basic blue buttons" data-metric="PR">
          <a class="ui button" data-value="N">بی‌نیاز</a>
          <a class="ui button" data-value="L">کم</a>
          <a class="ui button" data-value="H">زیاد</a>
        </div>
      </div>

      <div class="ui field">
        <label>رفتار انسانی</label>
        <div class="ui basic blue buttons" data-metric="UI">
          <a class="ui button" data-value="N">نیاز ندارد</a>
          <a class="ui button" data-value="R">دارد</a>
        </div>
      </div>

      <div class="ui field">
        <label>محدوده</label>
        <div class="ui basic blue buttons" data-metric="S">
          <a class="ui button" data-value="U">تغییر کرده</a>
          <a class="ui button" data-value="C">بدون تغییر</a>
        </div>
      </div>

      <div class="ui field">
        <label>رازداری</label>
        <div class="ui basic blue buttons" data-metric="C">
          <a class="ui button" data-value="N">ندارد</a>
          <a class="ui button" data-value="L">کم</a>
          <a class="ui button" data-value="H">زیاد</a>
        </div>
      </div>      

      <div class="ui field">
        <label>درستی</label>
        <div class="ui basic blue buttons" data-metric="I">
          <a class="ui button" data-value="N">ندارد</a>
          <a class="ui button" data-value="L">کم</a>
          <a class="ui button" data-value="H">زیاد</a>
        </div>
      </div>
      
      <div class="ui field">
        <label>دسترسی</label>
        <div class="ui basic blue buttons" data-metric="A">
          <a class="ui button" data-value="N">ندارد</a>
          <a class="ui button" data-value="L">کم</a>
          <a class="ui button" data-value="H">زیاد</a>
        </div>
      </div>   
    </div>
    
    <div class="ui form segment">
      <h2 class="ui dividing header">امتیاز موقت</h2>
      <div class="ui info message">در حال پیاده‌سازی...</div>
    </div>
    
    <div class="ui form segment">
      <h2 class="ui dividing header">امتیاز محیطی</h2>
      <div class="ui info message">در حال پیاده‌سازی...</div>
    </div>

    <div class="ui olive message" id="vectorString" style="direction:ltr"></div>

    <div class="ui centered inverted segment">
      <h2 class="ui dividing centered header">امتیازات</h2>
      <div class="ui three statistics">
        <div class="ui inverted statistic">
          <div class="baseScore value">-</div>
          <div class="label">پایه</div>
        </div>
	      <div class="ui blue inverted statistic">
	        <div class="value">-</div>
	        <div class="label">موقتی</div>
	      </div>
	      <div class="ui olive inverted statistic">
	        <div class="value">-</div>
	        <div class="label">محیطی</div>
	      </div>     
      </div>
      <div class="ui divider"></div>
      <canvas id="radarChart"></canvas>
    </div>
  </div>

</div>


