#{extends 'main.html' /}
#{set title:'پرسش' /}

#{set 'moreStyles'}
#{/set}

<div class="ui small modal">
  <div class="content">
	  <form class="ui form" id="element-form" method="POST" action="@{Elements.saveQuestion}" enctype="multipart/form-data">
	    <input type="hidden" name="type" value="question">
      #{if element}
      <input type="hidden" name="element.id" value="${element?.id}" />
      #{/if}
	    <div class="field">
	      <label>عنوان پرسش</label>
	      <input type="text" name="title" value="${element?.title}">
	    </div>
	    <div class="field">
	      <label>متن پرسش</label>
	      <textarea name="description" rows="5">${element?.description}</textarea>
	    </div>
	    
	    <div class="field">
        <label>&{'standards.levels'}</label>
        <select name="level" class="ui selection dropdown">
          <option value="LOW" #{if element?.level==models.elements.QuestionElement.SeverityLevel.LOW} selected="selected"#{/if}>&{'standards.levels.Low'}</option>
          <option value="MODERATE" #{if element?.level==models.elements.QuestionElement.SeverityLevel.MODERATE} selected="selected"#{/if}>&{'standards.levels.Moderate'}</option>
          <option value="HIGH" #{if element?.level==models.elements.QuestionElement.SeverityLevel.HIGH} selected="selected"#{/if}>&{'standards.levels.High'}</option>
          <option value="VERY_HIGH" #{if element?.level==models.elements.QuestionElement.SeverityLevel.VERY_HIGH} selected="selected"#{/if}>&{'standards.levels.VeryHigh'}</option>
        </select>
      </div>
	    
      <div class="field">
        <label>معیار فرعی</label>
        <div class="ui dropdown basic button">
          <span class="text">انتخاب</span>
          <input type="hidden" name="parent.id" value="${element?.parent?.id}" />
          <div class="menu">
          #{list metrics}
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">${_.title}</span>
	          <div class="menu">
	            #{list controllers.Elements.getSubMetrics(_)}
	            <div class="item" data-value="${_.id}">${_.title}</div>
	            #{/list}     
	          </div>
          </div>
          #{/list}
          </div>
        </div>
      </div>
	  </form>
  </div>
  
  <div class="actions">
    #{if element && !preventRemoval}
    <a href="@{Elements.delete(element.code)}" class="ui left floated red button">حذف</a>
    #{/if}
    <a href="@{AssessmentDesigner.elements(assessment.code)}" class="ui button">لغو عملیات</a>
    <button type="submit" class="ui primary right aligned button" form="element-form">
    #{if element}
      اعمال تغییرات
    #{/if}
    #{else}
      ساخت پرسش
    #{/else}
    </button>
  </div>
</div>

<script>
$('.ui.modal').modal({
  blurring: true,
  closable: false,
  duration: 100
}).modal('show');
$('.ui.dropdown').dropdown();
$('#element-form').form({
  on: 'submit',
  inline: 'true',
  fields: {
    title: 'regExp[/^[a-z0-9_\.]{1,}$/]'
  }
});
</script>
