#{extends 'main.html' /}
#{set title:'معیار فرعی' /}

#{set 'moreStyles'}
  <link rel="stylesheet" href="@{'/public/css/pen.css'}">
#{/set}

<div class="ui small modal">
  <div class="content">
	  <form class="ui form" id="element-form" method="POST" action="@{Elements.saveSubMetric}" enctype="multipart/form-data">
      <input type="hidden" name="assessment.id" value="${assessment.id}" />
	    <input type="hidden" name="type" value="sub_metric">
      #{if element}
      <input type="hidden" name="element.id" value="${element.id}" />
      #{/if}
      <div class="two fields">
		    <div class="field">
		      <label>نام معیار فرعی</label>
		      <input type="text" name="title" value="${element?.title}">
		    </div>
		    <div class="field">
	        <label>&{'standards.levels'}</label>       
	        <select name="level" class="ui selection dropdown">
	          #{list models.elements.QuestionElement.SeverityLevel.values()}
	          <option class="item" value="${_}" #{if element?.level==_}selected="selected"#{/if}>&{'standards.levels.'+_}</option>
	          #{/list}
	        </select>
	      </div>
	    </div>
	    <div class="field">
	      <label>پیش‌سوال</label>
        <div id="description-editor" class="ui wysiwyg segment" contenteditable="true">${element?.description?.raw()}</div>
	      <input type="hidden" name="description" />
	    </div>
      
	    <div class="field">
	      <label>معیار اصلی</label>
	      <select name="parent.id" class="ui fluid selection dropdown">
	        #{list metrics}
	        <option value="${_.id}" #{if element && _.id==element.parent.id}selected="selected"#{/if}>${_.title}</option>
	        #{/list}
	      </select>
	    </div>
	  </form>
  </div>
  
  <div class="actions">
    #{if element && !preventRemoval}
    <a href="@{Elements.delete(element.code)}" class="ui left floated red button">حذف</a>
    #{/if}
    <a href="@{AssessmentDesigner.subMetrics(assessment.code)}" class="ui button">لغو عملیات</a>
    <button type="submit" class="ui primary right aligned button" form="element-form">
    #{if element}
      اعمال تغییرات
    #{/if}
    #{else}
      ساخت معیار
    #{/else}
    </button>
  </div>
</div>


#{set 'moreScripts'}
<script>
$('.ui.modal').modal({
  blurring: false,
  closable: false,
  duration: 100
}).modal('show');
$('.ui.dropdown').dropdown();
$('#element-form').form({
  on: 'submit',
  inline: 'true',
  fields: {
    title: 'regExp[/^[a-z0-9_\.]{1,}$/]'
  }
});
</script>

<script src="@{'/public/js/pen.js'}"></script>
<script>
// config
var options = {
  // toolbar: document.getElementById('.toolbar'),
  editor: document.querySelector('.wysiwyg'),
  debug: false,
  stay: false,
  list: [
    'bold', 'italic', 'underline', 'createlink'
  ]
};

// create editor
var pen = new Pen(options);

$('#element-form').on('submit', function(e) {
  var name_regex = /^[a-z0-9_]{1,}$/i;
  $('[name="description"]').val($('#description-editor').html());
});
</script>

#{/set}
