/*******************************
            Global
*******************************/
#home .menu .right.menu > .mobile.item {
  display: none;
}


.menu .item .brand.image {
  height: 48px;
}

.masthead.segment {
  min-height: 80vh;
  padding-top: 10em;
  background-image: url("/public/img/symphony.png");
  background-repeat: repeat-xy;
}
    
/*--------------
    Masthead
---------------*/

#home .masthead {
  margin: 0em;
  padding: 2rem 0rem;
  height: 100vh;
  border-radius: 0px;
}
#home .masthead .column {
  position: relative;
}
#home .masthead .information {
  margin: 10em 1em 1em 1em;
}
#home .masthead .information p {
  max-width: 60%;
  background-color: rgba(255,255,255,0.5);
  padding: 2px 5px;
}
#home .masthead .information p span {
  font-size: 1.3em;
}
#home .masthead .information p span {
}



/*--------------
    Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  line-height: 3.5rem;
  margin-bottom: 1em;
}

#home .segment h1 span {
  background-color: rgba(255,255,255,0);
  color: black;
  padding: 0 5px;
}

#home .vertical.segment {
  padding: 12rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 9rem;
}

#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}

/*--------------
    Footer
---------------*/

#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}


/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    /*display: none;*/
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment .information {
    margin-left: 10px;
  }

  #home .masthead.segment .image {
    width: 170px;
  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    /*font-size: 0.7rem;*/
  }

  #home .masthead.segment .column p {
    display: none;
  }

  #home .selection.list .right.floated {
    display: none;
  }
}
