@font-face {
  font-family: 'FarsiFont';
  src: url("../fonts/irseri.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

body,
p,
.ui.header,
.ui.menu,
h1,h2,h3,h4,h5,h6,
.ui.list,
.ui.steps,
.ui.input,
.ui.form,
.ui.button,
.ui.message .header,
.ui.cards, .ui.card,
.ui {
  font-family: 'FarsiFont';
  direction: rtl;
}

.push.right {
  float: right;
  margin-right: 0em;
  margin-left: 0.25em;  
}

.rtl.push.right {
  float: left;
  margin-left: 0em;
  margin-right: 0.25em;  
}
