@font-face {
  font-family: 'FarsiFont';
  src: url("../fonts/irseri.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

body,
p,
.ui {
  direction: rtl;
}

.push.right {
  float: right;
  margin-right: 0em;
  margin-left: 0.25em;  
}

.rtl.push.right {
  float: left;
  margin-left: 0em;
  margin-right: 0.25em;  
}
