#{extends 'main.html' /}
#{set title:'پرسش‌نامه' /}
#{set assessmentCode:assessment.code /}

#{set 'moreStyles'}
#{/set}

<section class="ui page centered padded stackable grid">
  <div class="twelve wide column" id="sticker">
  <h2 class="ui header">
    <i class="sort alphabet ascending icon"></i>
    <div class="content">
      &{'assessment.designer.Elements'}
      <div class="sub header">طراحی و تغییر معیارها و پرسش‌ها</div>
    </div>
  </h2>

  <div class="ui segment">
	  
	  <div class="ui basic center aligned segment">
	    <div class="ui large #{element.color 'metric' /} floating metric dropdown labeled icon button">
        <i class="#{element.icon 'metric' /} icon"></i>
	      معیار
        <div class="menu">
          <a href="@{Elements.create(assessmentCode,'metric')}" class="item">
            <i class="#{element.color 'metric' /} #{element.icon 'metric' /} circular inverted icon"></i> معیار اصلی
          </a>
          <a href="@{Elements.create(assessmentCode,'sub_metric')}" class=" #{if disableNewSubMetric}disabled#{/if} item">
            <i class="#{element.color 'sub_metric' /} #{element.icon 'sub_metric' /} circular inverted icon"></i> معیار فرعی
          </a>
        </div>
      </div>
      <a href="@{Elements.create(assessmentCode,'question')}" class="ui large #{element.color 'question' /} #{if disableNewQuestion}disabled#{/if} labeled icon button">
        <i class="#{element.icon 'question' /} icon"></i> پرسش
      </a>
	  </div>
	  <div class="ui hidden divider"></div>
	  <div class="ui dividing header">&{'metrics'}</div>
	  <div id="current-metrics">
		  #{list assessment.elements}
		  #{if _.startsWith('metric')}
	    <div class="ui large #{element.color controllers.Elements.findElementByCode(_)?.elementType() /} label" style="margin-bottom:5px;" data-element="${_}">
        #{ifnot preventUpdate}
	      <i class="drag-handle bars icon"></i>
	      #{/ifnot}
	      <a href="@{Elements.preview(_)}">
	        <!-- <i class="#{element.icon controllers.Elements.findElementByCode(_)?.elementType() /} icon"></i> -->
	        ${controllers.Elements.findElementByCode(_)?.title}
	      </a>
	      #{ifnot preventUpdate}
	      <div class="detail">
	        <a href="@{Elements.delete(_)}" title="Remove this element."><i class="red link delete icon"></i></a>
	      </div>
	      #{/ifnot}
	    </div>
	    #{/if}
		  #{/list}
	  </div>
	  
	  <div class="ui hidden divider"></div>
	  <div class="ui dividing header">&{'subMetrics'}</div>
	  <div id="current-submetrics">
      #{list assessment.elements}
      #{if _.startsWith('sub_metric')}
      <div class="ui large #{element.color controllers.Elements.findElementByCode(_)?.elementType() /} label" style="margin-bottom:5px;" data-element="${_}">
        #{ifnot preventUpdate}
        <i class="drag-handle bars icon"></i>
        #{/ifnot}
        <a href="@{Elements.preview(_)}">
          <!-- <i class="#{element.icon controllers.Elements.findElementByCode(_)?.elementType() /} icon"></i> -->
          ${controllers.Elements.findElementByCode(_)?.title}
        </a>
        #{ifnot preventUpdate}
        <div class="detail">
          <a href="@{Elements.delete(_)}" title="Remove this element."><i class="red link delete icon"></i></a>
        </div>
        #{/ifnot}
      </div>
      #{/if}
      #{/list}
    </div>
    
    <div class="ui hidden divider"></div>
    <div class="ui dividing header">&{'questions'}</div>
    <div id="current-questions">
      #{list assessment.elements}
      #{if _.startsWith('question')}
      <div class="ui large #{element.color controllers.Elements.findElementByCode(_)?.elementType() /} label" style="margin-bottom:5px;" data-element="${_}">
        #{ifnot preventUpdate}
        <i class="drag-handle bars icon"></i>
        #{/ifnot}
        <a href="@{Elements.preview(_)}">
          <!-- <i class="#{element.icon controllers.Elements.findElementByCode(_)?.elementType() /} icon"></i> -->
          ${controllers.Elements.findElementByCode(_)?.title}
        </a>
        #{ifnot preventUpdate}
        <div class="detail">
          <a href="@{Elements.delete(_)}" title="Remove this element."><i class="red link delete icon"></i></a>
        </div>
        #{/ifnot}
      </div>
      #{/if}
      #{/list}
    </div>
	</div>
  </div> <!-- /.segment -->


	<div class="four wide column">
	<div class="ui sticky">
	  <div class="ui small side-help list">
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">معیار</div>
	        <div class="description">هر معیار را می‌توان با چندین پرسش بررسی و ارزیابی نمود. پرسش‌نامه متشکل از یک یا چند معیار اصلی است.</div>
	      </div>
	    </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">معیار اصلی</div>
          <div class="description">.هر معیار اصلی متشکل از یک یا چند معیار فرعی است</div>
        </div>
      </div>
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">معیار فرعی</div>
	        <div class="description">هر معیار فرعی شامل یک یا چند پرسش است.</div>
	      </div>
	    </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">پرسش</div>
          <div class="description">پرسش‌هایی که برای بررسی یک معیار در نظر گرفته می‌شوند باید به صورتی باشند که پاسخ‌های آن بلی، خیر، شامل نمی‌شود، و روش دیگر باشند.</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle warning icon"></i>
        <div class="content">
          <div class="header"></div>
          <div class="description">هر تغییری در پرسش‌نامه‌ی این ارزیابی موجب از بین رفتن تمام اطلاعات مرتبط قبلی می‌شود.</div>
        </div>
      </div>
	  </div>
	</div> <!-- /.ui.sticky -->
	</div>
</section>

#{set 'moreScripts'}
#{ifnot preventUpdate}
  <script src="@{'/public/js/sortable.min.js'}"></script>
  <script>
  var metrics = document.getElementById('current-metrics');
  var subMetrics = document.getElementById('current-submetrics');
  var questions = document.getElementById('current-questions');

  Sortable.create(metrics, {
    animation: 150,
    handle: ".bars.icon"});
  Sortable.create(subMetrics, {
    animation: 150,
    handle: ".bars.icon"});
  
  Sortable.create(questions, {
    animation: 150,
    handle: ".bars.icon",
    onUpdate: function (evt){
      var elementsArray = [];
      $('#current-elements').children().each(function(){
        elementsArray.push($(this).data('element'));
      });
      $.post("@{Elements.sortElements}", {
        'assessment.id': '${assessment.id}',
        'elements[]': elementsArray
      }).done(function(data) {
        $.growl.notice({
          title:'',
          message:data,
          location:'br'
        });
      }); 
    }
  }); // That's all.
  $('.metric.dropdown').dropdown({
    action: 'hide',
    transition: 'drop'
  });
  </script>
#{/ifnot}
#{/set}
