#{extends 'main.html' /}
#{set 'title'}&{'assessments.designer.GeneralSettings'}#{/set}
#{set assessmentCode:assessment.code /}

#{set 'moreStyles'}
#{/set}

<section class="ui page centered padded stackable grid">
  <div class="twelve wide column">
      <h2 class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          &{'assessments.designer.GeneralSettings'}
        </div>
      </h2>

	  <div class="ui segment">	
		  <form class="ui fluid form" id="updateAssessmentForm" role="form" method="POST" action="@{AssessmentDesigner.save}" enctype="multipart/form-data">
		    <input type="hidden" name="assessment.id" value="${assessment.id}" />
		    <input type="hidden" name="assessment.code" value="${assessment.code}" />
		    <div class="field">
		      <label>&{'title'}</label>
		      <input type="text" name="assessment.title" value="${assessment.title}" min="1" />
		    </div>
		    <div class="field">
		      <label>&{'description'}</label>
		      <textarea name="assessment.description" rows="10" max="1000">${assessment.description}</textarea>
		    </div>

        <div class="three fields">
          <div class="field">
	          <label>آستانه‌ی تضمین امنیتی (آلفا)</label>
	          <input type="text" value="${assessment.complianceThreshold?.format('0.00')}" name="assessment.complianceThreshold" style="direction:ltr"/>
          </div>
        </div>

	      <div class="field">
	        <div class="ui checkbox">
	          <input type="checkbox" id="publicAssessment" name="assessment.isPublic" value="true" #{if assessment.isPublic==true}checked#{/if}>
	          <input type="hidden" name="assessment.isPublic" value="false" />
	          <label for="publicAssessment">پرسش‌نامه‌ی عمومی</label>
	        </div>
	      </div>
	
	      <div class="ui hidden divider"></div>

		    <div class="field">
		      <button class="ui primary button" type="submit">&{'save'}</button>
		    </div>
	
		  </form>
		</div> <!-- /.segment -->
    <div class="ui secondary red clearing segment">
       <div class="ui red header">&{'assessment.designer.RemoveThisAssessment'}</div>
       مراقب باشید! وقتی این ارزیابی حذف شود، هیچ راهی برای بازیابی آن و هر نوع داده‌ی مرتبط با آن وجود ندارد.
       همه‌ی اطلاعات از جمله سوالات پرسش‌نامه، نتایج موجود و پاسخ‌های داده‌شده حذف خواهد شد. 
       <div class="ui hidden divider"></div>
       <a href="#" class="ui right floated basic red left labeled icon button" id="removeAssessmentBtn">
         <i class="warning sign icon"></i>
         &{'assessment.designer.RemoveAssessment'}
       </a>
    </div>
  </div> <!-- /.column -->

	<div class="four wide column">
	  <div class="ui small side-help list">
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">نام</div>
	        <div class="description">یک نام، ترجیا یکتا برای شناسایی این پرسش‌نامه انتخاب نمایید. این نام می‌تواند نام استاندارد یا ویژگی‌هایی باشد که در این پرسش‌نامه مورد آزمون قرار می‌گیرد.</div>
	      </div>
	    </div>
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">توضیحات</div>
	        <div class="description">متنی کوتاه که به توصیف اهداف، نتایج و استانداردهای مورد توجه در این پرسش‌نامه می‌پردازد. </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<!-- Delete Experiment Modal -->
<section class="ui small modal" role="dialog" aria-hidden="true">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui form" id="removeAssessmentForm" action="@{AssessmentDesigner.remove}" method="POST">
      <div class="field">
        <p>برای حذف این پرسش‌نامه و تمامی داده‌های مرتبت با آن کّد زیر را وارد نمایید: <pre>${assessment.code}</pre></p>
        <input type="text" name="code" data-assessment="${assessment.code}" id="toBeRemovedCode"/>
      </div>
    </form>
  </div>
  <div class="actions">
    <button type="submit" id="submitRemoveAssessment" class="ui disabled red left labeled icon button">
      <i class="warning sign icon"></i>
      &{'assessment.designer.RemoveAssessment'}
    </button>
  </div>
</section>

<br />
#{set 'moreScripts'}
<script>

$('#updateAssessmentForm').form({
  title: {
    identifier: 'assessment.title',
    rules: [
      {
        type: 'empty',
        prompt: 'Please enter a title.'
      }
    ]
  },
  description: {
    identifier: 'assessment.description',
    rules: [
      {
        type: 'empty',
        prompt: 'Please enter a description for this assessment.'
      }
    ]
  }
},
{
  inline: true
});

$('.modal').modal('attach events', '#removeAssessmentBtn', 'show');
$('#submitRemoveAssessment').click(function(){
  $('#removeAssessmentForm').submit();
});
$("#toBeRemovedCode").keyup(function() {
  if ($(this).data('assessment')==$(this).val()) {
    $('#submitRemoveAssessment').removeClass('disabled');
  } else {
    $('#submitRemoveAssessment').addClass('disabled');
  }
});
</script>
#{/set}
