#{extends 'main.html' /}
#{set title:'Import Flow' /}
#{set surveyCode:survey.code /}

#{set 'moreStyles'}
#{/set}

<section class="ui page centered padded stackable grid">
  <div class="twelve wide column">
      <h2 class="ui header">
        <i class="file icon"></i>
        <div class="content">
          &{'survey.designer.ImportFlow'}
        </div>
      </h2>

	  <div class="ui segment">	
		  <form class="ui fluid form" id="updateSurveyForm" role="form" method="POST" action="@{SurveyDesigner.update}" enctype="multipart/form-data">
		  </form>
		</div> <!-- /.segment -->
  </div> <!-- /.column -->

	<div class="four wide column">
	  <div class="ui small side-help list">
	    <div class="item">
	      <i class="top aligned right circle help icon"></i>
	      <div class="content">
	        <div class="header">فایل پرسش‌نامه</div>
	        <div class="description">فایل پرسشنامه را طبق مشخصات مورد انتظار در فرمت csv می‌توانید وارد کنید.</div>
	      </div>
	    </div>
	  </div>
	</div>
</section>

#{set 'moreScripts'}
<script>

</script>
#{/set}
