#{extends 'main.html' /}
#{set title:'معیارهای اصلی' /}
#{set assessmentCode:assessment.code /}

#{set 'moreStyles'}
#{/set}

<section class="ui page centered padded stackable grid">
  <div class="twelve wide column" id="sticker">
  <h2 class="ui header">
    <i class="sort alphabet ascending icon"></i>
    <div class="content">
      &{'assessment.designer.Metrics'}
      <div class="sub header">طراحی و تغییر معیارهای اصلی</div>
    </div>
  </h2>

  <div class="ui segment">
    
    <div class="ui basic center aligned segment">
      <a class="ui large #{element.color 'metric' /} labeled icon button" href="@{Elements.create(assessmentCode,'metric')}">
        <i class="#{element.icon 'metric' /} icon"></i> معیار اصلی جدید
      </a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui dividing header">&{'metrics'}</div>
    <div id="current-metrics">
      #{list metrics}
      <div class="ui large #{element.color _.elementType() /} label" style="margin-bottom:5px;" data-element="metric.${_.id}">
        #{ifnot preventUpdate}
        <i class="drag-handle bars icon"></i>
        #{/ifnot}
        <a href="@{Elements.preview('metric.'+_.id)}">
          <!-- <i class="#{element.icon _.elementType() /} icon"></i> -->
          ${_?.title}
        </a>
        #{ifnot preventUpdate}
        <div class="detail">
          <a href="@{Elements.delete('metric.'+_.id)}" title="Remove this element."><i class="red link delete icon"></i></a>
        </div>
        #{/ifnot}
      </div>
      #{/list}
    </div>
    
  </div>
  </div> <!-- /.segment -->


  <div class="four wide column">
  <div class="ui sticky">
    <div class="ui small side-help list">
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">معیار</div>
          <div class="description">هر معیار را می‌توان با چندین پرسش بررسی و ارزیابی نمود. پرسش‌نامه متشکل از یک یا چند معیار اصلی است.</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">معیار اصلی</div>
          <div class="description">.هر معیار اصلی متشکل از یک یا چند معیار فرعی است</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">معیار فرعی</div>
          <div class="description">هر معیار فرعی شامل یک یا چند پرسش است.</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">پرسش</div>
          <div class="description">پرسش‌هایی که برای بررسی یک معیار در نظر گرفته می‌شوند باید به صورتی باشند که پاسخ‌های آن بلی، خیر، شامل نمی‌شود، و روش دیگر باشند.</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle warning icon"></i>
        <div class="content">
          <div class="header"></div>
          <div class="description">هر تغییری در پرسش‌نامه‌ی این ارزیابی موجب از بین رفتن تمام اطلاعات مرتبط قبلی می‌شود.</div>
        </div>
      </div>
    </div>
  </div> <!-- /.ui.sticky -->
  </div>
</section>

#{set 'moreScripts'}
#{ifnot preventUpdate}
  <script src="@{'/public/js/sortable.min.js'}"></script>
  <script>
  var metrics = document.getElementById('current-metrics');

  function updateElementsOrder(evt) {
    var elementsArray = [];
    $('#current-metrics').children().each(function(){
      elementsArray.push($(this).data('element'));
    });
    $.post("@{Elements.sortElements}", {
      'assessment.id': '${assessment.id}',
      'elements[]': elementsArray
    }).done(function(data) {
      $.growl.notice({
        title:'',
        message:data,
        location:'br'
      });
    }); 
  };
  
  
  Sortable.create(metrics, {
    animation: 150,
    handle: ".bars.icon",
    onUpdate: updateElementsOrder
  });

  </script>
#{/ifnot}
#{/set}
