#{extends 'main.html' /}
#{set title:'پرسش‌نامه' /}
#{set assessmentCode:assessment.code /}

#{set 'moreStyles'}
#{/set}

<section class="ui page centered padded stackable grid" style="min-height:60vh">
  <div class="twelve wide column" id="sticker">
  <h2 class="ui header">
    <i class="sort alphabet ascending icon"></i>
    <div class="content">
      &{'assessment.designer.Elements'}
      <div class="sub header">طراحی و تغییر پرسش‌ها</div>
    </div>
    
  </h2>

  <div class="ui segment">
    
    <div class="ui compact buttons">
	    #{if metrics}
	    <div class="ui scrolling link dropdown button">
	        #{if parent}
	        <div class="text">${parent.title}</div>
	        #{/if}
	        #{else}
	        <div class="default text">معیار اصلی را انتخاب نمایید</div>   
	        #{/else}
	        <i class="dropdown icon"></i>
	        <div class="menu">
	          #{list metrics}
	          <a class="#{if parent?.id==_.id}active#{/if} item" href="@{AssessmentDesigner.questions(assessment.code, _.id, null)}">${_.title}</a>
	          #{/list}
	        </div>
	    </div>
	    #{/if}
	    
	    #{if parent}
	    <div class="ui scrolling link dropdown button">
	        #{if level}
	        <div class="text">&{'standards.levels.'+level}</div>
	        #{/if}
	        #{else}
	        <div class="default text">سطح تضمین امنیتی (SAL) را انتخاب نمایید.</div>   
	        #{/else}
	        <i class="dropdown icon"></i>
	        <div class="menu">
	          #{list models.elements.QuestionElement.SeverityLevel.values()}
	          <a class="#{if level==_}active#{/if} item" href="@{AssessmentDesigner.questions(assessment.code, parent.id, _)}">&{'standards.levels.'+_}</a>
	          #{/list}
	        </div>
	    </div>
	    #{/if}    
	    
	    #{if parent!=null & metrics!=null & level!=null}
	      <a class="ui large primary right labeled icon #{if disableNewElement}disabled#{/if}button" href="@{Elements.create(assessmentCode,'question')}">
	        <i class="#{element.icon 'question' /} icon"></i> پرسش جدید
	      </a>
	    #{/if}
    </div>

    <div class="ui hidden divider"></div>
    <div id="current-questions">
      #{list questions}
      <div class="ui large #{element.color _?.elementType() /} label" style="margin-bottom:5px;" data-element="question.${_.id}">
        #{ifnot preventUpdate}
        <i class="drag-handle bars icon"></i>
        #{/ifnot}
        <a href="@{Elements.preview('question.'+_.id)}">
          <!-- <i class="#{element.icon _?.elementType() /} icon"></i> -->
          ${_?.title}
        </a>
        #{ifnot preventUpdate}
        <div class="detail">
          <a href="@{Elements.delete('question.'+_.id)}" title="Remove this question."><i class="red link delete icon"></i></a>
        </div>
        #{/ifnot}
      </div>
      #{/list}
      #{else}
        <div class="ui fluid message">هیچ سوالی مرتبط با انتخاب شما یافت نشد. لطفا معیار اصلی یا سطح امنیتی را تغییر دهید.</div>
      #{/else}
    </div>
  </div>
  </div> <!-- /.segment -->


  <div class="four wide column">
  <div class="ui sticky">
    <div class="ui small side-help list">
      <div class="item">
        <i class="top aligned right circle help icon"></i>
        <div class="content">
          <div class="header">پرسش</div>
          <div class="description">پرسش‌هایی که برای بررسی یک معیار در نظر گرفته می‌شوند باید به صورتی باشند که پاسخ‌های آن بلی، خیر، شامل نمی‌شود، و روش دیگر باشند.</div>
        </div>
      </div>
      <div class="item">
        <i class="top aligned right circle warning icon"></i>
        <div class="content">
          <div class="header"></div>
          <div class="description">هر تغییری در پرسش‌نامه‌ی این ارزیابی موجب از بین رفتن تمام اطلاعات مرتبط قبلی می‌شود.</div>
        </div>
      </div>
    </div>
  </div> <!-- /.ui.sticky -->
  </div>
</section>

#{set 'moreScripts'}
#{ifnot preventUpdate}
  <script src="@{'/public/js/sortable.min.js'}"></script>
  <script>
  var questions = document.getElementById('current-questions');

  function updateElementsOrder(evt) {
    var elementsArray = [];

    $('#current-questions').children().each(function(){
      elementsArray.push($(this).data('element'));
    });
    $.post("@{Elements.sortElements}", {
      'assessment.id': '${assessment.id}',
      'elements[]': elementsArray
    }).done(function(data) {
      $.growl.notice({
        title:'',
        message:data,
        location:'br'
      });
    }); 
  };
  
    
  Sortable.create(questions, {
    animation: 150,
    handle: ".bars.icon",
    onUpdate: updateElementsOrder
  }); // That's all.
  
  $('.ui.dropdown').dropdown();
  </script>
#{/ifnot}
#{/set}
