<footer class="ui tertiary center aligned vertical segment" id="footer">
  <p class="small text-muted">
    <a href="@{Application.index()}">Home</a>&nbsp;&middot;
    <a href="#">About</a>&nbsp;&middot;
    <a href="#">Privacy</a>&nbsp;&middot;
    <a href="#">&{'cms.Support'}</a>&nbsp;&middot;
    <a href="#">Contact</a>
    #{security.check models.AccountRole.ADMINISTRATOR}
    &nbsp;&middot;
    <a href="@{Application.status()}">&{'cut.Status'}</a>&nbsp;&middot;
    <a href="@{Accounts.list()}">&{'cut.Accounts'}</a>
		#{/security.check}
  </p>
</footer>
