<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53774411-1', 'auto');
  ga('send', 'pageview');

</script>

#{security.check models.AccountRole.REGISTERED}
<div class="ui container">
<header class="ui huge fixed pointing menu">
  <a class="icon item" href="@{Application.index()}" style="padding:4px;"><img class="ui brand image" src="@{'/public/img/itrc_logo_small.png'}" /></a>
  <a  class="#{if request.action=='Application.dashboard'}active#{/if} icon item" href="@{Application.dashboard()}" title="&{'dashboard'}"><i class="dashboard icon"></i></a>
  <a  class="#{if request.action=='CVSS.calculator'}active#{/if} icon item" href="@{CVSS.calculator()}" title="&{'calculator'}"><i class="calculator icon"></i></a>

  #{if assessmentCode}
    <!-- Assessment Designer menu -->
    <section class="secondary menu">
      <a class="#{if request.action=='AssessmentDesigner.general'}active#{/if} item" href="@{AssessmentDesigner.general(assessmentCode)}">
        <i class="settings icon"></i> تنظیمات
      </a>
      <a class="#{if request.action=='AssessmentDesigner.metrics'}active#{/if} item" href="@{AssessmentDesigner.metrics(assessmentCode)}">
        معیارهای اصلی
      </a>
      <a class="#{if request.action=='AssessmentDesigner.subMetrics'}active#{/if} item" href="@{AssessmentDesigner.subMetrics(assessmentCode)}">
        معیارهای فرعی
      </a>
      <a class="#{if request.action=='AssessmentDesigner.questions'}active#{/if} item" href="@{AssessmentDesigner.questions(assessmentCode)}">
        <i class="circle help icon"></i> پرسش ها
      </a>
      <a class="#{if request.action=='AssessmentDesigner.results'}active#{/if} item" href="@{AssessmentDesigner.results(assessmentCode)}">
        <i class="area chart icon"></i> آنالیز نتایج
      </a>
    </section>
  #{/if}
  <div class="right menu">
  <!-- 
    #{if play.i18n.Lang.get()=='fa'}
      <a class="icon item" href="@{API.changeUserLanguage("en")}"><i class="ui us flag" style="margin:0"></i></a>
    #{/if}
    #{else}
      <a class="icon item" href="@{API.changeUserLanguage("fa")}"><i class="ui ir flag" style="margin:0"></i></a>
    #{/else}
  -->
    #{if controllers.Security.isConnected()}
    <a class="#{if request.controller=='Accounts'}active#{/if} icon item" href="@{Accounts.profile(controllers.Security.connected().id)}" title="Your Profile">
      <i class="user icon"></i>
    </a>
    <a class="icon item" href="@{Security.logout()}" title="&{'logout'}">
      <i class="log out icon"></i>
    </a>
    #{/if}
	  #{else}
      <a href="@{Security.login()}" class="icon item" title="&{'login'}">
        <i class="log in icon"></i>
      </a>
    #{/else}
	</div>
</header>
</div> <!-- /.ui.container -->
#{if assessmentCode}
<div class="menu spacer"></div>
#{/if}
<div class="menu spacer"></div>
#{/security.check}
