<!DOCTYPE html>

<html>
  <head>
    <title>Application error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>    
    <link rel="stylesheet" href="@{'/public/css/semantic.css'}">
  </head>
  <body>
    <section class="ui padded page grid">
      <div class="ten wide centered column">
        <div class="ui basic segment">
          #{if play.mode.name() == 'DEV'}
              #{500 exception /}
          #{/if}
          #{else}
            <h1 class="ui center aligned header">Oops, an error occurred</h1>
            #{if exception instanceof play.exceptions.PlayException}
              <p>
                  This exception has been logged with id <strong>${exception.id}</strong>.
              </p>
            #{/if}
          #{/else}

        </div>
      </div>
    </section>

    <section class="ui centered center aligned basic segment">
      <a class="ui compact icon button" href="@{Application.index()}"><i class="large home icon"></i></a>
    </section>
  
  </body>
  
</html>
