#{extends 'main.html' /}
#{set 'title'}&{'CVSSCalculator'}#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/angular.min.js'}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">

</script>

<script src="@{'public/js/chart.js'}"></script>

<script>
$('.ui.dropdown').dropdown();

$('.ui.buttons .button').click(function() {
  $(this)
    .addClass('active')
    .siblings()
    .removeClass('active')
  ;
});

$('.ui.checkbox').checkbox();
var radarConfig = {
    type: 'radar',
    data: {
        labels: ["منابع انسانی", "سخت‌افزار", "نرم‌افزار", "شبکه", "یک‌پارچگی"],
        datasets: [{
            label: "Dataset #1",
            backgroundColor: "rgba(220,220,220,0.2)",
            pointBackgroundColor: "rgba(220,220,220,1)",
            data: [10, 9.8, 4.2, 5.3, 8.2]
        }, {
            label: "Dataset #2",
            backgroundColor: "rgba(251,80,50,0.5)",
            pointBackgroundColor: "rgba(251,80,50,1)",
            hoverPointBackgroundColor: "#fff",
            pointHighlightStroke: "rgba(251,80,50,1)",
            data: [9, 8.1, 4.1, 7.2, 9]
        }]
    }
};
var radarChart = new Chart($("#radarChart").get(0).getContext("2d"), radarConfig);
</script>

<script>
var app = angular.module('CalculatorApp', []);
app.controller('CalculatorController', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script>

#{/set}

#{set 'moreStyles'}
#{/set}

<div class="menu spacer"></div>

<div class="ui padded page stackable grid" ng-app="CalculatorApp" ng-controller="CalculatorController">
  <div class="twelve wide centered column">
    <h2 class="ui header">
      <i class="calculator icon"></i>
      <div class="content">
        &{'CVSSCalculator'}
      </div>
    </h2>
    <div class="ui basic message">
      در این بخش می‌توانید با وارد نمودن پارامترهای سیستم‌های صنعتی خود، درجه‌ی آسیب‌پذیری خود را محاسبه نمایید.
      <br />
      برای اطلاعات بیشتر در مورد هر متریک یا گزینه، ماوس خود را بر روی نام آن یا گزینه‌ی موردنظر چند لحظه نگه دارید.
    </div> 
    <div class="ui form segment">
      <h2 class="ui dividing header">امتیاز پایه</h2>
      <div class="ui field">
        <label>مسیر حمله؟</label>
        <div class="ui basic blue buttons">
				  <a class="ui button">شبکه</a>
				  <a class="ui button">فرعی</a>
				  <a class="ui button">محلی</a>
          <a class="ui button">فیزیکی</a>
				</div>
      </div>

      <div class="ui field">
        <label>پیچیدگی حمله</label>
        <div class="ui basic blue buttons">
          <a class="ui button">کم</a>
          <a class="ui button">زیاد</a>
        </div>
      </div>
      
      <div class="ui field">
        <label>دسترسی مورد نیاز</label>
        <div class="ui basic blue buttons">
          <a class="ui button">بی‌نیاز</a>
          <a class="ui button">کم</a>
          <a class="ui button">زیاد</a>
        </div>
      </div>

      <div class="ui field">
        <label>رفتار انسانی</label>
        <div class="ui basic blue buttons">
          <a class="ui button">نیاز ندارد</a>
          <a class="ui button">دارد</a>
        </div>
      </div>

      <div class="ui field">
        <label>محدوده</label>
        <div class="ui basic blue buttons">
          <a class="ui button">تغییر کرده</a>
          <a class="ui button">بدون تغییر</a>
        </div>
      </div>

      <div class="ui field">
        <label>رازداری</label>
        <div class="ui basic blue buttons">
          <a class="ui button">ندارد</a>
          <a class="ui button">کم</a>
          <a class="ui button">زیاد</a>
        </div>
      </div>      

      <div class="ui field">
        <label>درستی</label>
        <div class="ui basic blue buttons">
          <a class="ui button">ندارد</a>
          <a class="ui button">کم</a>
          <a class="ui button">زیاد</a>
        </div>
      </div>
      
      <div class="ui field">
        <label>دسترسی</label>
        <div class="ui basic blue buttons">
          <a class="ui button">ندارد</a>
          <a class="ui button">کم</a>
          <a class="ui button">زیاد</a>
        </div>
      </div>   
    </div>
    
    <div class="ui form segment">
      <h2 class="ui dividing header">امتیاز موقت</h2>
      <div class="ui info message">در حال پیاده‌سازی...</div>
    </div>
    
    <div class="ui form segment">
      <h2 class="ui dividing header">امتیاز محیطی</h2>
      <div class="ui info message">در حال پیاده‌سازی...</div>
    </div>


    <div class="ui inverted segment">
      <h2 class="ui dividing centered header">امتیازات</h2>
      <div class="ui five statistics">
        <div class="ui inverted statistic">
          <div class="value">۸.۲</div>
          <div class="label">منابع انسانی</div>
        </div>
	      <div class="ui blue inverted statistic">
	        <div class="value">۵.۳</div>
	        <div class="label">شبکه</div>
	      </div>
	      <div class="ui olive inverted statistic">
	        <div class="value">۴.۲</div>
	        <div class="label">سخت‌افزار</div>
	      </div>
	      <div class="ui red inverted statistic">
	        <div class="value">۹.۸</div>
	        <div class="label">نرم‌افزار</div>
	      </div>      
        <div class="ui violet inverted statistic">
          <div class="value">۱۰</div>
          <div class="label">یک‌پارچگی</div>
        </div>      
      </div>
      <div class="ui divider"></div>
      <canvas id="radarChart"></canvas>
    </div>
  </div>

</div>


