#{extends 'main.html' /}
#{set title:'About' /}

#{set 'moreScripts'}
#{/set}

#{set 'moreStyles'}
#{/set}

<div class="ui padded page stackable grid">
<div class="ui three wide right aligned column">
  <h1 class="ui header">
    About
  </h1>
</div>
  <div class="ui thirteen wide column">
  <div class="ui large segment">
  <p>&{'app.name'} is a platform for designing models of interaction among multiple parties.
  Such models are used by psychologists and economists to investigate a wide range of
  phenomena, including conflict and cooperation within and between groups, individual
  judgment & decision making, and testing models of evolutionary dynamics, trust and
  negotiations, and public policy.</p>
<br />
  <p>Survey platforms currently lack this vital feature. in &{'app.name'} we have sought to fill
  this gap. With a simple user interface we have made it possible to design an experiment
  in no time, and even more so, run as many participants as needed in very short time.
  All of this is made possible at a significant reduced price.</p>
<br />
<p>Let’s be specific. Many popular tools that are used to test human interactions are based on
game theory. Pick the Ultimatum Game for example. The game has two players, one rule, and
two possible outcomes. One player (proposer) divides a pool of resources and allocates a
fraction to the second player (responder). The responder decides whether to accept or reject
the offered share. Acceptance leads to both players keeping their shares while rejecting
means both players lose their share.</p>
<br />
<p>Two variables emerge from a one-time-interaction version of the game: the division of
resources by the proposer and the reaction of the responder. What is interesting here
is whether and how the two players behave. Behavioral in-lab studies show people on
average reject offers below 30% of the initial common pool. Whether this pattern upholds
in online setting is itself an interesting questions.</p>
<br />
<p>But &{'app.name'} offers more than that. Testing what factors contribute to emergence of
cooperative behavior is the logical next step. Could it be that people are sensitive
to how the roles (proposer vs. responder) are assigned? We can test that in &{'app.name'}.
Could it be that people choose to cooperate with certain races, nationalities,, genders,
age groups etc? We can simply cutomize player profiles on &{'app.name'} to test these explanations.
Could cooperative behavior sustain over rounds? We can test that by designing multiple round
game. Could...</p>
<br />
<p>Let’s see an example.</p>
  </div>
  </div>
</div>