#{extends 'main.html' /}
#{set 'title'}&{'dashboard'}#{/set}

<section class="ui stackable padded basic segment">
  <div class="ui two columns stackable grid">
	  <div class="ui column">
	    <div class="ui centered header">
        <i class="checkmark box icon"></i>
	      پرسش‌نامه‌ها 
	    </div>
		  <div class="ui two cards js-masonry" data-masonry-options='{ "itemSelector": ".card", "isOriginLeft": false }'>
		    #{security.check models.AccountRole.REGISTERED}
		    <div class="ui card">
		      <div class="content">
		        شما می‌توانید پرسش‌نامه‌ای جدید بسازید. از دکمه‌ی زیر برای شروع ساخت یک پرسش‌نامه‌ی جدید استفاده نمایید.
		      </div>
		      <a class="ui bottom attached labeled blue compact button" id="newSurveyBtn">
		        پرسش‌نامه جدید
		      </a>
		    </div>
		    #{/security.check}
		    #{list surveys}
		    <div class="ui #{if _.isDeleted}red#{/if} card">
		      <div class="content">
		        #{ifnot _.isDeleted}
		        #{security.check models.AccountRole.MAINTAINER}
		        <a href="@{SurveyDesigner.general(_.code)}" class="right floated" title="&{'settings'}">
		          <i class="large options link icon"></i>
		        </a>
		        #{/security.check}
		        <a href="@{Surveys.start(_.code)}" class="right floated">
		          <i class="large green play link icon" title="Participate in this survey"></i>
		        </a>
		        #{/ifnot}
		        #{else}
		        <div class="ui horizontal right floated red label">REMOVED</div>
		        #{/else}
		
		        <div class="header">${_.title}</div>
		        <div class="meta">${_.createdAt?.since() }</div>
		        <div class="description">${_.description.replace("\n","<br />").raw()}</div>
		      </div>
		  </div>
		    #{/list}
		    #{else}
		    <!-- <div class="col-md-8 text-center">No experiment!</div> -->
		    #{/else}
		  </div>
	  </div>
	  <div class="ui vertical fitted divider"><i class="grey selected radio icon"></i></div>
	  <div class="ui column">
	    <div class="ui centered header">
	      <i class="certificate icon"></i>
	      استانداردها
	    </div>
	  </div>

  </div>
  
  

</section>


<!-- New Survey Modal -->
<section class="ui small modal" role="dialog" aria-hidden="true">
  <i class="close icon"></i>
  <div class="header">&{'newSurvey'}</div>
  <div class="content">
    <form class="ui form" id="newSurveyForm" action="@{SurveyDesigner.create()}" method="POST">
      <div class="required field">
        <label>نام</label>
        <input type="text" name="survey.title" />
      </div>
      <div class="required field">
        <label>توضیحات</label>
        <textarea rows="3" name="survey.description" max="500"></textarea>
      </div>
      <small>نام و توضیحات اجباری است، اما آن‌ها را می‌توانید در ادامه تغییر دهید.</small>
    </form>
  </div>
  <div class="actions">
    <button type="submit" id="submitNewSurvey" class="ui right labeled icon primary submit button" form="newSurveyForm">
      <i class="right arrow icon"></i>
      &{'continue'}
    </button>
  </div>
</section>

#{set 'moreScripts'}
<script src="@{'/public/js/masonry.pkgd.min.js'}"></script>

#{security.check models.AccountRole.REGISTERED}
<script>

  $('.modal').modal({
    selector    : {
      close: '.close'
    }
  }).modal('attach events', '#newSurveyBtn', 'show');
  $('#newSurveyForm').form({
    title: {
      identifier: 'survey.title',
      rules: [
        {
          type: 'empty',
          prompt: 'لطفا یک نام برای پرسش‌نامه وارد نمایید.'
        }
      ]
    },
    description: {
      identifier: 'survey.description',
      rules: [
        {
          type: 'empty',
          prompt: 'لطفا توضیحاتی درباره‌ی این پرسش‌نامه وارد نمایید.'
        }
      ]
    }
  },
  {
    inline: true
  });
  $('#submitNewSurvey').click(function(){
    $('#newSurveyForm').submit();
  });
</script>
#{/security.check}
#{/set}
