<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>&{'app.name'} - &{'login'}</title>

  <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">


  #{if play.i18n.Lang.get()=='fa'}
  <link rel="stylesheet" href="@{'/public/css/semantic.rtl.css'}">
  <link rel="stylesheet" href="@{'/public/css/rtl.css'}">
  #{/if}
  #{else}
  <link rel="stylesheet" href="@{'/public/css/semantic.css'}">
  #{/else}  

  <link rel="stylesheet" href="@{'/public/css/secure.css'}">
</head>
<body>  
  <div class="ui padded page centered grid">
    #{if flash.error}
    <br /><div class="ui six wide column red message">&{flash.error}</div>
    #{/if} #{if flash.success}
    <br /><div class="ui six wide column green message">&{flash.success}</div>
    #{/if}
  </div>
      
	<section class="ui stackable page grid">
    <div class="ui six wide centered column">
      <div class="ui segment">
        <form class="ui fluid form" action="@{Security.authenticate()}" method="POST">
          <div class="field">
            <label>&{'email'}</label>
            <input type="email" name="username" required autofocus value="${flash.email}"  style="direction:ltr"/>
          </div>
          <div class="field">
            <label>&{'password'}
              <a href="@{Accounts.resetPassword()}" class="#{if play.i18n.Lang.get()=='fa'}rtl#{/if} push right">&{'security.forgetPassword'}</a>
            </label>
            <input type="password" name="password" required value="${flash.email}" style="direction:ltr"/>
          </div>
          
          <div class="field">
            <input type="hidden" name="remember" value="true">
            <button type="submit" class="ui left labeled primary icon button" type="submit">
              <i class="unlock icon"></i>
            &{'login'}</button>
          </div>
        </form>
      </div>
	  </div>
	</section>
	<section class="ui stackable centered center aligned basic segment" id="login">
    <div>&{'security.dontHaveAnAccount'} <a href="@{Accounts.signup()}">&{'signup'}</a></div>
	</section>

  <section class="ui centered center aligned basic segment">
    <a class="ui compact icon button" href="@{Application.index()}" title="&{'home'}"><i class="large home icon"></i></a>
  </section>
	
</body>
</html>
